// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  margin-left: 200px;
  margin-right: 200px;
}

.description{
  height: 300px;
}